* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
}
body.dark {
  background-color: #181818; /* Dark mode background */
  color: #eee; /* Dark mode text color */
}
.here {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  clip-path: polygon(20% 0, 100% 0, 100% 100%);
  background: #9ee8ff;
}
.here .dark{
  
  background: #1b1b1b !important;
}

.here2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  clip-path: polygon(0 0, 20% 0, 100% 100%, 0% 100%);
  background: #f1f1f1;
}